{% extends 'layout.bootstrap.html.twig' %}

{% block body %}
    <h1>Hello on sear page</h1>
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="input-group">
                <input style="float:none" id="q" name="q" type="text" class="form-control typeahead" placeholder="Que cherchez-vous?">
                <span class="input-group-btn">
                    <button id="btn-search" class="btn btn-primary" type="button">Chercher</button>
                </span>
            </div>
        </div>
    </div>
    <section role="">
        <div id="results">
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        {% verbatim %}
            $(document).ready(function () {

                $("#btn-search").on("click", function () {

                    var url = "/search/results/" + encodeURIComponent($("#q").val());
                    console.log(url);

                    $("#results").load(url);
                });

                $("body").on("click", ".filter", function () {

                    var url = "/search/results/" + encodeURIComponent($("#q").val());
                    
                    /* Get checked categories */
                    var categories = [];
                    $(".categories:checked").each(function(){
                        categories.push($(this).val());
                    });
                    /* Get check countries */
                    var countries = [];
                    $(".countries:checked").each(function(){
                       countries.push($(this).val()); 
                    });
                    
                    
                    var data = {
                        'categories' : categories,
                        'countries': countries
                    };

                    $.post(url, data, function (ret) {
                        $("#results").html(ret);
                    });




                   
                });



                // Set the Options for "Bloodhound" Engine
                var my_Suggestion_class = new Bloodhound({
                    limit: 10,
                    datumTokenizer: function (datum) {
                        return Bloodhound.tokenizers.whitespace(datum.value);
                    },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: '/search/suggest/%QUERY',
                        wildcard: '%QUERY'

                    }
                });

                //Initialize the Suggestion Engine
                my_Suggestion_class.initialize();

                var typeahead_elem = $('.typeahead');
                typeahead_elem.typeahead(
                        {
                            minLength: 3
                        },
                        {
                            name: 'value',
                            display: 'value',
                            source: my_Suggestion_class.ttAdapter(),
                            templates: {
                                footer: function (data) {
                                    return "<small class=\"pull-right\" style=\"margin-right:10px\">Suggestions de recherche by @Sear</small>";
                                }
                            }

                        });
            });
        {% endverbatim %}
    </script>


{% endblock %}
